<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.my_swpu.mystudyhelper">
    <!-- 是否自适应不同分辨率屏幕 -->
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGSE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.WRITE_APN_SETTINGS." />
    <uses-permission android:name="android.permission.ACCES_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <!-- 来电消音 -->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 摄影机 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/welcome_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activity.LoginActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity android:name=".activity.BaseActivity" />
        <activity
            android:name=".activity.menu.PersonalActivity"
            android:label="@string/title_activity_personal"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="4bnt9GVp1V7hyqDBugqoP9lK" /> <!-- http://lbsyun.baidu.com/apiconsole/key -->

        <activity
            android:name=".activity.menu.MapActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activity.WelcomeActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.CourseActivity"
            android:label="@string/title_activity_course"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activity.RemindActivity"
            android:label="@string/title_activity_remind"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <receiver
            android:name=".service.RemindReceiver"
            android:process=":remote" />
        <receiver
            android:name=".service.LauncherReceiver"
            android:process=":remote">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name=".service.SetQuietService">
            <intent-filter>
                <action android:name="com.my_swpu.mystudyhelper.service.QUIET_SERVICE" />
            </intent-filter>
        </service>

        <activity
            android:name=".activity.TakeReleaseActivity"
            android:label="@string/title_activity_take_release"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activity.NewsInfoActivity"
            android:label="@string/title_activity_news_info"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activity.MovieInfoActivity"
            android:label="@string/title_activity_movie_info"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activity.TuringActivity"
            android:label="@string/title_activity_turing"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activity.GradeActivity"
            android:label="@string/title_activity_rate"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activity.ExamActivity"
            android:label="@string/title_activity_exam"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activity.TranslateActivity"
            android:label="@string/title_activity_translate"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activity.menu.RollActivity"
            android:label="@string/title_activity_roll"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activity.menu.ChangePasswordActivity"
            android:label="@string/title_activity_change_password"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".activity.menu.BNGuideActivity"
            android:label="@string/title_activity_bnguide"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
    </application>

</manifest>
